# TEMPORAL: http:// desactiva el TLS automático porque el hostname
# *.compute.amazonaws.com está prohibido por política de Let's Encrypt.
# Cuando tengas dominio propio con registro A, quita el prefijo http://
# y Caddy emitirá el certificado https automáticamente.
http://{$APP_DOMAIN} {
	handle /api/* {
		reverse_proxy api:8080
	}
	handle /actuator/* {
		reverse_proxy api:8080
	}
	handle /v3/* {
		reverse_proxy api:8080
	}
	handle /swagger-ui* {
		reverse_proxy api:8080
	}
	handle {
		reverse_proxy web:80
	}
}
